*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}


.container{
  display: flex;
  width: 87%;
  margin: 0 auto;
  justify-content: space-around;
}

.container .col{
  width: 30%;
  height: 250px;
}

.col img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 0;
} 


.bg_image{
  background: url(../img/img-2.png) no-repeat top fixed;
  /* background-size: cover;
  background-position: left center; */

  height: 350px;
  margin-top: 30px;
  margin-bottom: 30px;
}

